/* styling resets */
h2, h5, p, .navbar, .navbar-brand, .nav-link, .card-img-overlay  {
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    background-image: url("https://i.pinimg.com/736x/08/08/fb/0808fb305aa8d90cb6379305062089ee.jpg");
    background-color: rgba(92, 160, 134, 0.1); /* background color if image fails */
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: lightskyblue;
    color: #ffffff;
}

.navbar {
    background: rgba(135, 206, 250, 0.8);
    box-shadow: 0 6px 6px -6px lightskyblue;
}

.brand-container {
    padding: 10px;
    margin-left: 5vw;
    background-color: white;
    border: rgb(103, 194, 250) solid 2px;
}

.navbar-brand {
    color: #ffffff;
    border: rgb(103, 194, 250) solid 2px;
    background-color: lightskyblue;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    padding: 0 5px;
}

.nav {
    margin-right: 5vw;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    color: #238bfa;
    font-weight: bold;
}

.container {
    margin-top: 40px;
    padding: 15px;
    width: 70%;
    background: #ffffff;
    /* puts shadow on all sides of the container */
    box-shadow: 
        6px 6px 6px -6px lightskyblue,
        -4px -4px 6px -6px lightskyblue;
}

.btn {
    background-color: rgb(103, 194, 250);
    color: #ffffff;
}

.card-img-overlay {
    top: unset;
    bottom: 10px;
    width: 100%;
    padding: 5px 0;
    background-color: lightskyblue;
    color: black;
}

.profile-img-container {
    max-width: 200px;
}

#about-container {
    overflow: auto;
}

@media screen and (max-width: 575px) {
    .brand-container {
        width: 100%;
        background-color: lightskyblue;
        border: none;
        margin-left: 0;
        text-align: center;
    }

    .navbar-brand {
        border: none;
    }

    .nav {
        margin-right: 0;
    }

    .container {
        width: 95%;
    }
}